<!--
  Name: Woon-Gi Hong
  G#: G01032192
  Name: Jimmy Tran
  G#: G01130635
  Course-Section: SWE642-001
  Assignment: #3
  Description: Main content displays a welcome message and provides two buttons for navigation:
  "Start Survey" button, which links to the student survey page.
  "View All Surveys" button, which links to a page listing all survey
 -->

<app-header></app-header>

<div class="content container text-center">
  <div>
    <h1>Welcome to the Student Survey Application</h1>
    <p>Please choose an option below:</p>
    <a class="btn btn-primary m-2" routerLink="/student-survey">Start Survey</a>
    <a class="btn btn-secondary m-2" routerLink="/list-surveys"
      >View All Surveys</a
    >
  </div>
</div>

<app-footer></app-footer>
