<app-header></app-header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/welcome">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Survey List</li>
  </ol>
</nav>

<!-- Iterate through the list of surveys and display each one -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let survey of surveys">
      <td>{{ survey.firstName }}</td>
      <td>{{ survey.lastName }}</td>
      <td>
        <button class="btn btn-primary" (click)="editSurvey(survey.id)">
          Edit
        </button>
        <button class="btn btn-danger" (click)="deleteSurvey(survey.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="content container text-center"></div>
<app-footer></app-footer>
