<!-- Iterate through the list of surveys and display each one -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let survey of surveys">
      <td>{{ survey.firstName }}</td>
      <td>{{ survey.lastName }}</td>
      <td>
        <button class="btn btn-primary" (click)="editSurvey(survey.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteSurvey(survey.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>